# Android
build/
*.apk
*.aab
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# Mac OS
.DS_Store
Thumbs.db

# Secrets (ключи, пароли)
*.jks
keystore.properties
